.CallToAction {
  align-items: center;
  background-color: #1a1a1a;
  display: flex;
  height: 250px;
  justify-content: space-around;

  div {
    p {
      color: white;

      &:nth-child(1) {
        font-size: 2.5rem;
        font-weight: bold;
        text-transform: uppercase;

        span {
          color: green;
        }
      }
    }
  }

  button {
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    height: 50px;
    outline: none;
    width: 200px;
  }
}
